body {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, wheat, #fff3e0);
  }

a {
  text-decoration: none;
  
}

.imageHeaderLogo {

  display: flex;
  align-items: center;
  padding: 30px;

}

img {
  width: 100px;
  height: 40px;


}
  
  .header {

    display: flex;
    min-width: 100%;
    height: 50px;
    background-color: white;
    min-height: 100%;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    
  }

  .header nav {
     display: flex;
     gap: 30px;
  }


/* menu container */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.menuContainer{
  margin-top: 20px;
  background-color: brown;
  border: 7px solid black;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;

  
  align-items: center;
}

.title {
     color: wheat;
    text-align: center;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 20px;
    border-bottom: 3px solid black;
    width: 700px;
}

.description{
  width: 700px;
  text-align: center;

  color: wheat;
  padding: 20px;
  font-size: 1.5rem;

}

.horarioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;

}

.horarioTitle {

  color: wheat;
  text-align: center;
  box-sizing: border-box;
  font-size: 2rem;
  padding: 20px;
  width: 700px;
  border-bottom: 3px solid black;

}

.horarioDetails{
  box-sizing: border-box;
  display: flex;
  width: 700px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}


.leftDetails{
  
  display: flex;
  flex-direction: column;
}

.rightDetails{
  display: flex;
  flex-direction: column;

}

.leftDetails p {
    color: wheat;

    font-size: 1.2rem;


}



.rightDetails p {
    color: wheat;

    font-size: 1.2rem;


}


.foodCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  border: 7px solid black;
  background-color: brown;
  margin-top: 20px;
}


.foodCard img {
  box-sizing: border-box;
  display: flex;
  width: 220px;
  height: 200px;
  justify-content: center;
  border: 5px solid black;
  margin: 10px;

}

.foodCard h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  width: 220px;
  color: burlywood;
  margin: 8px;

}

.foodCard h3 {
  font-family: 'Times New Roman', Times, serif;

  text-align: center;
  width: 220px;

  margin: 8px;

}

.foodCard h4 {
  font-family: 'Times New Roman', Times, serif;
  color: burlywood;

  text-align: center;
  width: 220px;

  margin: 8px;

}


.foodCard button {
  font-family: 'Times New Roman', Times, serif;
  color: black;

  text-align: center;
  width: 220px;
  border: 2.5px solid black;
  background-color: burlywood;
  margin: 8px;

}




.foodCard button:hover {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  opacity: 0.9;
  text-align: center;
  width: 220px;
  border: 2.5px solid black;
  background-color: burlywood;
  margin: 8px;

}


.aboutContainer {

  margin-top: 20px;
  background-color: brown;
  border: 7px solid black;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 300px;

  
  align-items: center;
}

